<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css



">
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>m-Shop</title>
</head>



<body>
  <div class="grid-container">
    <header class="row">
      <div>
        <a class="brand" href="index.html">m-Shop</a>
      </div>
      <div>
        <a href="cart.html">Cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>
    <main>
      <div>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <!-- image size: 680px by 830px -->
              <img class="medium" src="./images/product1.png" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>JBL GO 2</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">29,99 €</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/product1.png" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>JBL GO 2</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">29,99 €</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/product1.png" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>JBL GO 2</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">29,99 €</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/product1.png" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>JBL GO 2</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">29,99 €</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/product1.png" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>JBL GO 2</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
              </div>
              <div class="price">29,99 €</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/product1.png" alt="product" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>JBL GO 2</h2>
              </a>
              <div class="rating">
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star"></i> </span>
                <span> <i class="fa fa-star-half-o"></i> </span>
              </div>
              <div class="price">29,99 €</div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="row center">© 2021 All right reserved.</footer>
  </div>
</body>
</html>